# Washington DC Biking data | Hourly Bike Count Prediction

## 2. Data Preparation & Feature Engineering
MBD O-1-5

### Notebook preperation

In [26]:
%matplotlib inline

# To automatically reload the function file 
%load_ext autoreload
%aimport My_Functions
%run My_Functions.py
%autoreload 1

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
# Data Import
#hourly_raw_data = dd.read_csv('gs://bikeshareproject/hour.csv')
hourly_raw_data = dd.read_csv('hour.csv')

hourly_raw_data_pd = pd.read_csv('hour.csv')

In [28]:
hourly_raw_data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [29]:
hourly_raw_data_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
instant       17379 non-null int64
dteday        17379 non-null object
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null int64
weekday       17379 non-null int64
workingday    17379 non-null int64
weathersit    17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [30]:
hourly_raw_data.compute().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
instant       17379 non-null int64
dteday        17379 non-null object
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null int64
weekday       17379 non-null int64
workingday    17379 non-null int64
weathersit    17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [31]:
#hourly_raw_data['dteday']= hourly_raw_data['dteday'].
hourly_raw_data['dteday']= dd.to_datetime(hourly_raw_data.dteday ,unit='ns')

In [32]:
hourly_raw_data.compute()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14
10,11,2011-01-01,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,12,24,36
11,12,2011-01-01,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,26,30,56
12,13,2011-01-01,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,29,55,84
13,14,2011-01-01,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,47,47,94
14,15,2011-01-01,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,35,71,106
15,16,2011-01-01,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,40,70,110
16,17,2011-01-01,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,41,52,93
17,18,2011-01-01,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,15,52,67
18,19,2011-01-01,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,9,26,35
19,20,2011-01-01,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,6,31,37
20,21,2011-01-01,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,11,25,36
21,22,2011-01-01,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,3,31,34
22,23,2011-01-01,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,11,17,28
23,24,2011-01-01,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,15,24,39
24,25,2011-01-02,1,0,1,0,0,0,0,2,0.46,0.4545,0.88,0.2985,4,13,17
25,26,2011-01-02,1,0,1,1,0,0,0,2,0.44,0.4394,0.94,0.2537,1,16,17
26,27,2011-01-02,1,0,1,2,0,0,0,2,0.42,0.4242,1.00,0.2836,1,8,9
27,28,2011-01-02,1,0,1,3,0,0,0,2,0.46,0.4545,0.94,0.1940,2,4,6
28,29,2011-01-02,1,0,1,4,0,0,0,2,0.46,0.4545,0.94,0.1940,2,1,3
29,30,2011-01-02,1,0,1,6,0,0,0,3,0.42,0.4242,0.77,0.2985,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17349,17350,2012-12-30,1,1,12,18,0,0,0,2,0.24,0.2121,0.44,0.2985,12,113,125
17350,17351,2012-12-30,1,1,12,19,0,0,0,1,0.34,0.3636,0.61,0.0000,16,86,102
17351,17352,2012-12-30,1,1,12,20,0,0,0,1,0.22,0.1970,0.47,0.3284,9,63,72
17352,17353,2012-12-30,1,1,12,21,0,0,0,1,0.20,0.2121,0.51,0.1642,5,42,47
17353,17354,2012-12-30,1,1,12,22,0,0,0,1,0.20,0.1970,0.55,0.1940,6,30,36
17354,17355,2012-12-30,1,1,12,23,0,0,0,1,0.20,0.1970,0.51,0.2239,10,39,49
17355,17356,2012-12-31,1,1,12,0,0,1,1,1,0.18,0.1818,0.55,0.1940,4,30,34
17356,17357,2012-12-31,1,1,12,1,0,1,1,1,0.18,0.1818,0.55,0.1940,6,13,19
17357,17358,2012-12-31,1,1,12,2,0,1,1,1,0.16,0.1667,0.59,0.1642,3,8,11
17358,17359,2012-12-31,1,1,12,3,0,1,1,1,0.16,0.1818,0.59,0.1045,0,1,1
17359,17360,2012-12-31,1,1,12,4,0,1,1,1,0.14,0.1667,0.69,0.1045,0,3,3
17360,17361,2012-12-31,1,1,12,5,0,1,1,1,0.16,0.1515,0.64,0.1940,0,9,9
17361,17362,2012-12-31,1,1,12,6,0,1,1,1,0.16,0.1667,0.64,0.1642,0,40,40
17362,17363,2012-12-31,1,1,12,7,0,1,1,1,0.16,0.1818,0.64,0.1343,2,83,85
17363,17364,2012-12-31,1,1,12,8,0,1,1,1,0.14,0.1515,0.69,0.1343,9,187,196
17364,17365,2012-12-31,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,13,144,157
17365,17366,2012-12-31,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,33,87,120
17366,17367,2012-12-31,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,43,114,157
17367,17368,2012-12-31,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,52,172,224
17368,17369,2012-12-31,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,38,165,203
17369,17370,2012-12-31,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,62,185,247
17370,17371,2012-12-31,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,69,246,315
17371,17372,2012-12-31,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,30,184,214
17372,17373,2012-12-31,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,14,150,164
17373,17374,2012-12-31,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,10,112,122
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [33]:
hourly_raw_data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [34]:
#hourly_raw_data.visualize()

# Feature Engineering

### Converting `dteday` to date

## Add `isDaylight` and  `isNoon` for hourly data

Astral module is used to calculate flags for daylight and noon time. 

A customized function is defined to classify a row as daylight. If the hour of a record is less than the hour of sunset in Washington DC and more than the time of sunrise, it is flagged as daylight, otherwise it is flagged as not daylight.
Noon time flag is also created using a customized function. If the hour of a record is equal to the hour of noon in Washington DC, it is flagged as noon, otherwise it is flagged as not noon.

In [35]:
hourly_raw_data['isDaylight']= (hourly_raw_data['hr'] > 6) & (hourly_raw_data['hr'] < 20)
hourly_raw_data['isNoon']= (hourly_raw_data['hr'] > 10) & (hourly_raw_data['hr'] < 14)

In [36]:
hourly_raw_data.isNoon.compute().unique()

array([False,  True])

In [37]:
hourly_raw_data.isDaylight.compute().unique()

array([False,  True])

### Adding the temp atemp windspeed hum relative to the last 7 days value

In exploratory data analysis, it was found that there are outliers in seasonal variables. In order to make a robust model that is able to predict outliers, new variables are created for temp, atemp, hum, and wind speed. In case of temp, mean of temp for the last seven days is deducted from current temp value and the resulting value is divided by standard deviation of temp for the last seven days.

In [38]:
to_relative  = ['temp', 'atemp', 'hum','windspeed']
hourly_raw_data = relative_values(hourly_raw_data, to_relative)

In [39]:
hourly_raw_data.compute()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,...,windspeed,casual,registered,cnt,isDaylight,isNoon,relative_temp,relative_atemp,relative_hum,relative_windspeed
6,7,2011-01-01,1,0,1,6,0,6,0,1,...,0.0000,2,0,2,False,False,-1.290994,-0.410671,0.792594,-0.408248
7,8,2011-01-01,1,0,1,7,0,6,0,1,...,0.0000,1,2,3,True,False,-2.939874,-1.697564,2.828427,-0.377964
8,9,2011-01-01,1,0,1,8,0,6,0,1,...,0.0000,1,7,8,True,False,0.840027,1.049718,-1.037749,-0.353553
9,10,2011-01-01,1,0,1,9,0,6,0,1,...,0.0000,8,6,14,True,False,6.270697,5.732372,-0.664784,-0.333333
10,11,2011-01-01,1,0,1,10,0,6,0,1,...,0.2537,12,24,36,True,False,4.451044,4.284212,-0.619389,8.637677
11,12,2011-01-01,1,0,1,11,0,6,0,1,...,0.2836,26,30,56,True,True,2.080626,0.964934,0.810243,3.213730
12,13,2011-01-01,1,0,1,12,0,6,0,1,...,0.2836,29,55,84,True,True,2.708013,3.103062,-0.378272,2.214437
13,14,2011-01-01,1,0,1,13,0,6,0,2,...,0.2985,47,47,94,True,True,2.610559,2.797839,-1.835309,1.922405
14,15,2011-01-01,1,0,1,14,0,6,0,2,...,0.2836,35,71,106,True,False,2.041551,2.133943,-1.579824,1.523345
15,16,2011-01-01,1,0,1,15,0,6,0,2,...,0.2985,40,70,110,True,False,1.521491,1.583008,-0.104379,1.476610
16,17,2011-01-01,1,0,1,16,0,6,0,2,...,0.2985,41,52,93,True,False,1.168384,1.217816,1.248784,1.338520
17,18,2011-01-01,1,0,1,17,0,6,0,2,...,0.2836,15,52,67,True,False,1.293622,1.333481,1.158515,1.128922
18,19,2011-01-01,1,0,1,18,0,6,0,3,...,0.2537,9,26,35,True,False,1.001179,1.037646,2.670092,0.851050
19,20,2011-01-01,1,0,1,19,0,6,0,3,...,0.2537,6,31,37,True,False,0.949816,0.982487,2.201971,0.813380
20,21,2011-01-01,1,0,1,20,0,6,0,2,...,0.2537,11,25,36,False,False,0.704463,0.739068,1.707031,0.780378
21,22,2011-01-01,1,0,1,21,0,6,0,2,...,0.1940,3,31,34,False,False,0.679942,0.712472,1.558067,0.321807
22,23,2011-01-01,1,0,1,22,0,6,0,2,...,0.2239,11,17,28,False,False,0.657845,0.688590,2.814131,0.533787
23,24,2011-01-01,1,0,1,23,0,6,0,2,...,0.2985,15,24,39,False,False,1.266480,1.279644,1.330424,1.076922
24,25,2011-01-02,1,0,1,0,0,0,0,2,...,0.2985,4,13,17,False,False,1.199781,1.211426,1.256119,1.029559
25,26,2011-01-02,1,0,1,1,0,0,0,2,...,0.2537,1,16,17,False,False,0.937206,0.953587,2.198608,0.654035
26,27,2011-01-02,1,0,1,2,0,0,0,2,...,0.2836,1,8,9,False,False,0.697805,0.717795,2.914132,0.861991
27,28,2011-01-02,1,0,1,3,0,0,0,2,...,0.1940,2,4,6,False,False,1.095546,1.103487,1.652697,0.154949
28,29,2011-01-02,1,0,1,4,0,0,0,2,...,0.1940,2,1,3,False,False,1.053355,1.060661,1.547536,0.152193
29,30,2011-01-02,1,0,1,6,0,0,0,3,...,0.2985,0,2,2,False,False,0.600860,0.618955,-0.775524,0.971523
30,31,2011-01-02,1,0,1,7,0,0,0,2,...,0.1940,0,1,1,True,False,0.377655,0.401594,-0.887625,0.117373
31,32,2011-01-02,1,0,1,8,0,0,0,3,...,0.2239,0,8,8,True,False,0.370839,0.394223,-1.527457,0.355008
32,33,2011-01-02,1,0,1,9,0,0,0,2,...,0.2239,1,19,20,True,False,0.148451,0.176721,-0.798609,0.348889
33,34,2011-01-02,1,0,1,10,0,0,0,2,...,0.2239,7,46,53,True,False,-0.073103,-0.464531,-0.123220,0.343078
34,35,2011-01-02,1,0,1,11,0,0,0,2,...,0.2537,16,54,70,True,True,-0.072047,-0.672765,-1.453147,0.586478
35,36,2011-01-02,1,0,1,12,0,0,0,2,...,0.2985,20,73,93,True,True,-0.071036,-0.658996,-2.046099,0.953332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17349,17350,2012-12-30,1,1,12,18,0,0,0,2,...,0.2985,12,113,125,True,False,-0.459268,-0.983752,-1.534494,0.536015
17350,17351,2012-12-30,1,1,12,19,0,0,0,1,...,0.0000,16,86,102,True,False,2.369871,3.001617,-0.488049,-1.399554
17351,17352,2012-12-30,1,1,12,20,0,0,0,1,...,0.3284,9,63,72,False,False,-1.010007,-1.356587,-1.371418,0.728280
17352,17353,2012-12-30,1,1,12,21,0,0,0,1,...,0.1642,5,42,47,False,False,-1.559120,-0.950776,-1.122803,-0.333789
17353,17354,2012-12-30,1,1,12,22,0,0,0,1,...,0.1940,6,30,36,False,False,-1.538593,-1.337830,-0.879515,-0.149439
17354,17355,2012-12-30,1,1,12,23,0,0,0,1,...,0.2239,10,39,49,False,False,-1.518045,-1.322558,-1.125418,0.036462
17355,17356,2012-12-31,1,1,12,0,0,1,1,1,...,0.1940,4,30,34,False,False,-2.053987,-1.702913,-0.863566,-0.167503
17356,17357,2012-12-31,1,1,12,1,0,1,1,1,...,0.1940,6,13,19,False,False,-2.019816,-1.677130,-0.860563,-0.171263
17357,17358,2012-12-31,1,1,12,2,0,1,1,1,...,0.1642,3,8,11,False,False,-2.526166,-2.041866,-0.607664,-0.376288
17358,17359,2012-12-31,1,1,12,3,0,1,1,1,...,0.1045,0,1,1,False,False,-2.475800,-1.618915,-0.603283,-0.780757
17359,17360,2012-12-31,1,1,12,4,0,1,1,1,...,0.1045,0,3,3,False,False,-2.950124,-1.977635,0.024491,-0.788582
17360,17361,2012-12-31,1,1,12,5,0,1,1,1,...,0.1940,0,9,9,False,False,-2.370927,-2.322880,-0.285124,-0.197608
17361,17362,2012-12-31,1,1,12,6,0,1,1,1,...,0.1642,0,40,40,False,False,-2.338373,-1.896751,-0.281110,-0.407450
17362,17363,2012-12-31,1,1,12,7,0,1,1,1,...,0.1343,2,83,85,True,False,-2.320746,-1.509595,-0.275532,-0.610441
17363,17364,2012-12-31,1,1,12,8,0,1,1,1,...,0.1343,9,187,196,True,False,-2.787523,-2.226701,0.040914,-0.619419
17364,17365,2012-12-31,1,1,12,9,0,1,1,2,...,0.1045,13,144,157,True,False,-1.751696,-0.725670,-0.271520,-0.831777
17365,17366,2012-12-31,1,1,12,10,0,1,1,2,...,0.1343,33,87,120,True,False,-1.247860,-0.717049,0.042765,-0.636023
17366,17367,2012-12-31,1,1,12,11,0,1,1,2,...,0.1940,43,114,157,True,True,-0.753485,-0.345301,-0.521049,-0.228209
17367,17368,2012-12-31,1,1,12,12,0,1,1,2,...,0.1940,52,172,224,True,True,-0.264174,-0.336580,-0.768591,-0.237839
17368,17369,2012-12-31,1,1,12,13,0,1,1,2,...,0.1642,38,165,203,True,True,0.221088,0.398892,-1.514914,-0.445192
17369,17370,2012-12-31,1,1,12,14,0,1,1,2,...,0.2239,62,185,247,True,False,0.707282,0.774631,-1.440746,-0.035596
17370,17371,2012-12-31,1,1,12,15,0,1,1,2,...,0.1343,69,246,315,True,False,0.700635,1.140068,-1.421432,-0.662818
17371,17372,2012-12-31,1,1,12,16,0,1,1,2,...,0.1940,30,184,214,True,False,0.212224,0.399530,-1.218385,-0.249714
17372,17373,2012-12-31,1,1,12,17,0,1,1,2,...,0.0896,14,150,164,True,False,0.209374,1.127351,-1.203921,-0.973973
17373,17374,2012-12-31,1,1,12,18,0,1,1,2,...,0.1343,10,112,122,True,False,0.206526,0.748747,-1.189705,-0.655922
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,...,0.1642,11,108,119,True,False,0.203678,0.380105,-0.434415,-0.447173
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,...,0.1642,8,81,89,False,False,0.200832,0.380105,-0.425352,-0.450365
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,...,0.1642,7,83,90,False,False,0.197987,0.377767,-0.416242,-0.451911
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,...,0.1343,13,48,61,False,False,0.195142,0.738183,-0.660375,-0.661152
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,...,0.1343,12,37,49,False,False,0.192299,0.735137,-0.077078,-0.664010

### Adding `RushHour-High` & 	`RushHour-Med`  &	`RushHour-Low`

The interactive time series shows that there are variations in casual, registered, and total bikers during the span of a day. This realization led to creation of a rush hour flag. The logic for this flag is as follows:

Working Day:  
10:00 AM to 6:00 PM is flagged as high rush hour. 7:00 PM to Midnight and 08:00 AM to 09:00 AM are flagged as medium rush hour. Whereas, all other hours are flagged as low rush hour.  
Holiday:  
7:00 AM to 9:00 AM and 4:00 to 8:00 PM is flagged as high rush hour. 6:00 AM, 10:00 AM till 1:00 PM,  3:00 PM, and 9:00 PM till 11:00 PM are flagged as medium rush hour. Whereas, all other hours are flagged as low rush hour.

In [53]:
hourly_raw_data['Wday_RushHour_High']= (hourly_raw_data['workingday'] == 0) & (hourly_raw_data['hr'] > 10) & (hourly_raw_data['hr'] < 18)
hourly_raw_data['Wday_RushHour_Med']= ((hourly_raw_data['workingday'] == 0) & 
                                       (((hourly_raw_data['hr'] > 19) & (hourly_raw_data['hr'] < 24))|
                                         ((hourly_raw_data['hr'] > 8) & (hourly_raw_data['hr'] < 9))))
hourly_raw_data['Wday_RushHour_Low'] = (hourly_raw_data['workingday'] == 1) & ((hourly_raw_data['hr'] > 0) & (hourly_raw_data['hr'] < 7))

In [46]:
hourly_raw_data['Wend_RushHour_High']= ((hourly_raw_data['workingday'] == 1) & 
                                        (((hourly_raw_data['hr'] > 6) & (hourly_raw_data['hr'] < 10))|
                                         ((hourly_raw_data['hr'] > 16) & (hourly_raw_data['hr'] < 20))))
hourly_raw_data['Wend_RushHour_Med']= ((hourly_raw_data['workingday'] == 1) & 
                                        (((hourly_raw_data['hr'] > 13) & (hourly_raw_data['hr'] < 15))|
                                         ((hourly_raw_data['hr'] > 21) & (hourly_raw_data['hr'] < 23))))
hourly_raw_data['Wend_RushHour_Low'] = (hourly_raw_data['workingday'] == 1) & ((hourly_raw_data['hr'] > 0) & (hourly_raw_data['hr'] < 5))

In [55]:
hourly_raw_data.compute().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17373 entries, 6 to 17378
Data columns (total 29 columns):
instant               17373 non-null int64
dteday                17373 non-null datetime64[ns]
season                17373 non-null int64
yr                    17373 non-null int64
mnth                  17373 non-null int64
hr                    17373 non-null int64
holiday               17373 non-null int64
weekday               17373 non-null int64
workingday            17373 non-null int64
weathersit            17373 non-null int64
temp                  17373 non-null float64
atemp                 17373 non-null float64
hum                   17373 non-null float64
windspeed             17373 non-null float64
casual                17373 non-null int64
registered            17373 non-null int64
cnt                   17373 non-null int64
isDaylight            17373 non-null bool
isNoon                17373 non-null bool
relative_temp         17373 non-null float64
relative_atemp        17373 non-null float64
relative_hum          17373 non-null float64
relative_windspeed    17373 non-null float64
Wend_RushHour_High    17373 non-null bool
Wend_RushHour_Med     17373 non-null bool
Wend_RushHour_Low     17373 non-null bool
Wday_RushHour_High    17373 non-null bool
Wday_RushHour_Med     17373 non-null bool
Wday_RushHour_Low     17373 non-null bool
dtypes: bool(8), datetime64[ns](1), float64(8), int64(12)
memory usage: 3.0 MB

## Splitting Data

In [56]:
workingdays = num_name(hourly_raw_data.loc[(hourly_raw_data['workingday'].isin([1]) )])
holidays = num_name(hourly_raw_data.loc[(~hourly_raw_data['workingday'].isin([1]) )])

/Users/rafaelhernandez/miniconda3/envs/intro_python/lib/python3.7/site-packages/dask/dataframe/core.py:2345: UserWarning:


You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('season', 'object'))


/Users/rafaelhernandez/miniconda3/envs/intro_python/lib/python3.7/site-packages/dask/dataframe/core.py:2345: UserWarning:


You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('weathersit', 'object'))


/Users/rafaelhernandez/miniconda3/envs/intro_python/lib/python3.7/site-packages/dask/dataframe/core.py:2345: UserWarning:


You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('season', 'object'))


/Users/rafaelhernandez/miniconda3/envs/intro_python/lib/python3.7/site-packages/dask/dataframe/core.py:2345: UserWarning:


You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('weathersit', 'object'))

### One hot Encoding | 2x for splitted datasets
For `season`, `weathersit`, `mnth`,`weekday`,`hr`

In [61]:
category  = ['season', 'weathersit', 'mnth','weekday','hr']

pipeline = make_pipeline(Categorizer(columns=category), DummyEncoder(columns=category))

In [62]:
workingdays = pipeline.fit_transform(workingdays)
workingdays  = workingdays.drop('instant',axis=1)

In [64]:
holidays = pipeline.fit_transform(holidays)
holidays  = holidays.drop('instant',axis=1)

# Final Datasets

In [69]:
holidays.compute().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5508 entries, 6 to 17354
Data columns (total 74 columns):
dteday                   5508 non-null datetime64[ns]
yr                       5508 non-null int64
holiday                  5508 non-null int64
workingday               5508 non-null int64
temp                     5508 non-null float64
atemp                    5508 non-null float64
hum                      5508 non-null float64
windspeed                5508 non-null float64
casual                   5508 non-null int64
registered               5508 non-null int64
cnt                      5508 non-null int64
isDaylight               5508 non-null bool
isNoon                   5508 non-null bool
relative_temp            5508 non-null float64
relative_atemp           5508 non-null float64
relative_hum             5508 non-null float64
relative_windspeed       5508 non-null float64
Wend_RushHour_High       5508 non-null bool
Wend_RushHour_Med        5508 non-null bool
Wend_RushHour_Low        5508 non-null bool
Wday_RushHour_High       5508 non-null bool
Wday_RushHour_Med        5508 non-null bool
Wday_RushHour_Low        5508 non-null bool
season_fall              5508 non-null uint8
season_spring            5508 non-null uint8
season_summer            5508 non-null uint8
season_winter            5508 non-null uint8
weathersit_Acceptable    5508 non-null uint8
weathersit_Bad           5508 non-null uint8
weathersit_Chaos         5508 non-null uint8
weathersit_Good          5508 non-null uint8
mnth_1                   5508 non-null uint8
mnth_2                   5508 non-null uint8
mnth_3                   5508 non-null uint8
mnth_4                   5508 non-null uint8
mnth_5                   5508 non-null uint8
mnth_6                   5508 non-null uint8
mnth_7                   5508 non-null uint8
mnth_8                   5508 non-null uint8
mnth_9                   5508 non-null uint8
mnth_10                  5508 non-null uint8
mnth_11                  5508 non-null uint8
mnth_12                  5508 non-null uint8
weekday_6                5508 non-null uint8
weekday_0                5508 non-null uint8
weekday_1                5508 non-null uint8
weekday_5                5508 non-null uint8
weekday_4                5508 non-null uint8
weekday_3                5508 non-null uint8
weekday_2                5508 non-null uint8
hr_6                     5508 non-null uint8
hr_7                     5508 non-null uint8
hr_8                     5508 non-null uint8
hr_9                     5508 non-null uint8
hr_10                    5508 non-null uint8
hr_11                    5508 non-null uint8
hr_12                    5508 non-null uint8
hr_13                    5508 non-null uint8
hr_14                    5508 non-null uint8
hr_15                    5508 non-null uint8
hr_16                    5508 non-null uint8
hr_17                    5508 non-null uint8
hr_18                    5508 non-null uint8
hr_19                    5508 non-null uint8
hr_20                    5508 non-null uint8
hr_21                    5508 non-null uint8
hr_22                    5508 non-null uint8
hr_23                    5508 non-null uint8
hr_0                     5508 non-null uint8
hr_1                     5508 non-null uint8
hr_2                     5508 non-null uint8
hr_3                     5508 non-null uint8
hr_4                     5508 non-null uint8
hr_5                     5508 non-null uint8
dtypes: bool(8), datetime64[ns](1), float64(8), int64(6), uint8(51)
memory usage: 1005.9 KB

In [75]:
holidays.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 74 entries, dteday to hr_5
dtypes: datetime64[ns](1), bool(8), float64(8), int64(6), uint8(51)

## Save Both datasets

In [73]:
workingdays.compute().to_csv("workingdays_data_prepared.csv", index=False)
holidays.compute().to_csv("weekends_holi_data_prepared.csv", index=False)